html {
	font-size: 65%;
}

@media print {
	html {
		font-size: 40%;
	}
}

@media handheld , screen and (max-width: 900px) {
	html {
		font-size: 60%;
	}
}

@media handheld , screen and (max-width: 540px) {
	html {
		font-size: 55%;
	}
}

.ac-fontLarge,.ac-fontLargeB,.ac-fontLargeBI,.ac-fontLargeI,
.ac-fontMedium,.ac-fontMediumB,.ac-fontMediumBI,.ac-fontMediumI,
.ac-fontSmall,.ac-fontSmallB,.ac-fontSmallBI,.ac-fontSmallI
	{
	font-family: Verdana, Arial, sans-serif;
	text-shadow: 0px 0px 0px;
}

.ac-fontLarge2,.ac-fontLarge2B,.ac-fontLarge2BI,.ac-fontLarge2I,
.ac-fontMedium2,.ac-fontMedium2B,.ac-fontMedium2BI,.ac-fontMedium2I,
.ac-fontSmall2,.ac-fontSmall2B,.ac-fontSmall2BI,.ac-fontSmall2I
	{
	font-family: Courier New, Courier, monospace;
	text-shadow: 0px 0px 0px;
}

.ac-fontLarge,.ac-fontLargeB,.ac-fontLargeBI,.ac-fontLargeI,
.ac-fontLarge2,.ac-fontLarge2B,.ac-fontLarge2BI,.ac-fontLarge2I
	{
	font-size: 1.5rem;
}

.ac-fontMedium,.ac-fontMediumB,.ac-fontMediumBI,.ac-fontMediumI,
.ac-fontMedium2,.ac-fontMedium2B,.ac-fontMedium2BI,.ac-fontMedium2I
	{
	font-size: 1.2rem;
}

.ac-fontSmall,.ac-fontSmallB,.ac-fontSmallBI,.ac-fontSmallI,
.ac-fontSmall2,.ac-fontSmall2B,.ac-fontSmall2BI,.ac-fontSmall2I
	{
	font-size: 1.0rem;
}

.ac-fontLarge,.ac-fontMedium,.ac-fontSmall,.ac-fontLarge2,.ac-fontMedium2,.ac-fontSmall2,textarea.ui-input-text
	{
	font-weight: normal;
	font-style: normal;
}

.ac-fontLargeB,.ac-fontMediumB,.ac-fontSmallB,.ac-fontLarge2B,.ac-fontMedium2B,.ac-fontSmall2B
	{
	font-weight: bold;
	font-style: normal;
}

.ac-fontLargeBI,.ac-fontMediumBI,.ac-fontSmallBI,.ac-fontLarge2BI,.ac-fontMedium2BI,.ac-fontSmall2BI
	{
	font-weight: bold;
	font-style: italic;
}

.ac-fontLargeI,.ac-fontMediumI,.ac-fontSmallI,.ac-fontLarge2I,.ac-fontMedium2I,.ac-fontSmall2I
	{
	font-weight: normal;
	font-style: italic;
}

.acLog {
	display: block;
	height: 10rem;
	overflow-y: scroll;
}

.acLogExt {
	display: block;
	border: 1px solid black;
	padding:0.5rem;
	margin: 0.5rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.acErr {
	color:red;
}

.acPopupForm {
	position: absolute;
	z-index: 201;
	top: 20%;
	left: 15%;
	width: 70%;
	display: none;
	padding: 1.5rem 0.5rem 0.5rem 0.5rem !important;
	background-image: url(images/fonds-3.png) !important;
	background-repeat: repeat !important;
	transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	-moz-box-shadow: 2px 2px 10px 2px #343434;
	-webkit-box-shadow: 2px 2px 10px 2px #343434;
	-o-box-shadow: 2px 2px 10px 2px #343434;
	box-shadow: 2px 2px 10px 2px #343434;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=134, Strength=10);
}

.acPopFormTitle{
	padding: 0.5rem;
	margin-top: -4.5rem;
	text-align: center;
	border-bottom: 1px solid white;
}

.acPopFormDiv {
	padding: 0.5rem;
	color: black;
	border-bottom: 1px solid white;
}

.acMask {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(200, 200, 200, 0.4);
	display: none;
}

.ui-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	zoom: 1;
}

.ui-disabled,.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}

.acBtnValider {
	float: right;
	background-image: url(images/ok.png);
	background-position: right;
	background-size: 3.2rem 3.2rem;
	background-repeat: no-repeat;
	margin : 1rem;
	height: 3.2rem;
	padding: 1.2rem 4rem 0 1rem !important;
	color: black;
	cursor: pointer;
	border: 1px solid black;
}

.acBtn:hover {
	color: blue;
	border-color: blue;
}

.acBtn {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0.3rem;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
}

.acFLR {
	float: right;
}

.acBtnTop {
	margin-left: 0.5rem;
}

.acBtnFermer {
	background-image: url(images/fermer1.png);
	background-position: right top;
	background-size: 3.2rem 3.2rem;
	background-repeat: no-repeat;
	position: relative;
	left: -2rem;
	width: 3.2rem;
	height: 3.2rem;
	display: block;
	padding: 0;
	border: 0;
	cursor: pointer;
	top: -3rem;
}

.acBtnFermer:hover {
	background-image: url(images/fermer2.png);
}

.acMaskA {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(200, 200, 200, 0.4);
	display: none;
}

.acAttente {
	display: block;
	position: fixed;
	width: 100%;
	top : 0;
	left : 0;
	height: 32px;
	overflow: hidden;
	background-color: rgb(50, 50, 50);
	cursor: pointer;
	display: none;
	overflow: hidden;
}

.acAttenteTxt {
	height: 16px;
	overflow: hidden;
	margin-left: 50px;
	color: white;
}

.acWork {
	margin: 1rem 0.5rem;
}

.acPath {
	margin: 0.5rem;
}

.acDirname {
	display: inline-block;
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

.acDirname:hover {
	background-color: blue;
	color: white;
}

.acDirname2 {
	margin-left: 1rem;
	display: block;
	color: #069E0E;
	cursor: pointer;
	text-decoration: underline;
}

.acDirname2:hover {
	background-color: #069E0E;
	color: white;
}

.acDirsep {
	display: inline-block;
	margin: 0.2rem;
	color: black;
}

.acNewdirInp{
	display: inline-block;
	width: 50%;
	margin: 0 1rem 0 0;
}

.acBGGris{
	padding: 0.2rem;
	background-color: rgb(220,220,220);
}

.acBGGrisR{
	padding: 0.2rem;
	background-color: rgb(220,220,220);
	text-align: right;
}

.acEnd {
	width: 100%;
	clear: both;
}

.acRFL {
	width: 48%;
	float: right;
}

.acLFL {
	width: 48%;
	float: left;
}

.acImg {
	width: 60px;
	height: 60px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid black;
	margin-top: 1rem;
}

.acR {
	text-align: right;
	padding: 0 0.4rem;
}

.acRed {
	color : red;
}

.acL {
	text-align: left;
	padding: 0 0.4rem;
}

.acC {
	text-align: center;
	padding: 0 0.4rem;
}

.acTDX {
	white-space: nowrap;
	height: 1.4rem;
	overflow: hidden;
	max-width: 12rem;
	cursor:pointer;
}

.acTA {
	margin: 1rem 0;
	height: 30rem;
	width: 98%;
}

.acTA2 {
	margin: 0.5rem 0;
	height: 3rem;
	width: 98%;
}

.acTRX0 {
	background-color: rgb(230,230,230);
}

.acTRX1 {
	background-color: white;
}

.acT1 {
	border-bottom: 1px solid white;
	margin-bottom: 1rem;
}

.acT2 {
	width: 100%;
}

.acT3 {
	border-spacing: 4px;
}

.acSpace2 {
	margin-bottom: 2rem;
}

.acSpace22 {
	margin-top: 2rem;
	height : 2px;
	background-color: white;
	margin-bottom: 2rem;
}

.acT2t {
	width: 100%;
	padding-right: 20px;
	margin-bottom: 0.5rem;
}

.acT2Cont {
	height : 10rem;
	overflow-y: scroll;
}

.acTR1 {
	vertical-align: middle;
	cursor: pointer;
}

.acPTR {
	cursor: pointer;
}

.acBRed {
	border:2px solid red;
}

.acTR1:hover {
	background-color: yellow;
}

.acTRSel {
	background-color: #07108F;
	color: white;
}

.acTD40 {
	width: 40%;
	padding-right: 1rem;
}

.ac33 {
	width: 30%;
	padding-right: 1rem;
}

.ac25 {
	width: 22%;
}

.ac40 {
	width: 40%;
	padding-right: 1rem;
}

.ac50 {
	width: 45%;
	padding-right: 1rem;
}

.ac66 {
	width: 66%;
	padding-right: 1rem;
}

.acTDR {
	text-align: right;
}

input:focus,textarea:focus {
	-moz-box-shadow: 0 0 12px #387bbe;
	-webkit-box-shadow: 0 0 12px #387bbe;
	box-shadow: 0 0 12px #387bbe;
	border: 2px outset #387bbe;
}

input,textarea {
	font-family: Courier New, Courier, monospace !important;
	text-shadow: 0px 0px 0px;
	font-size: 1.4rem;
	font-weight: normal;
	font-style: normal;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 95%;
	padding: 0.2rem 0.5rem;
	/* border: 2px inset rgb(150,150,150); */
}

/* Spinner ***************************************/
@-webkit-keyframes spin {
	from { -webkit-transform:rotate(0deg);}
	to { -webkit-transform:rotate(360deg);}
}

@-moz-keyframes spin {
	from { -moz-transform:rotate(0deg);}
	to { -moz-transform:rotate(360deg);}
}

@-ms-keyframes spin {
	from { -ms-transform:rotate(0deg);}
	to {-ms-transform:rotate(360deg);}
}

.acSpinner {
	display: block;
	float: left;
	margin: 0;
	background: url('images/ajax-loader.png');
	width: 32px;
	height: 32px;
	animation: spin;
	-webkit-animation-name: spin;
	-webkit-transform: rotate(0deg, 360deg);
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	/* Remove word animation for hanging effect animation, rather than linear time scale */
	-moz-animation: spin 1s infinite; /*so it works in firefox*/
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-ms-animation-play-state: running;
}


