html {
	font-size: 65%;
}

@media print {
	html {
		font-size: 40%;
	}
}

@media handheld , screen and (max-width: 900px) {
	html {
		font-size: 60%;
	}
}

@media handheld , screen and (max-width: 540px) {
	html {
		font-size: 55%;
	}
}

.ac-fontLarge,.ac-fontLargeB,.ac-fontLargeBI,.ac-fontLargeI,
.ac-fontMedium,.ac-fontMediumB,.ac-fontMediumBI,.ac-fontMediumI,
.ac-fontSmall,.ac-fontSmallB,.ac-fontSmallBI,.ac-fontSmallI
	{
	font-family: Verdana, Arial, sans-serif;
	text-shadow: 0px 0px 0px;
}

.ac-fontLarge2,.ac-fontLarge2B,.ac-fontLarge2BI,.ac-fontLarge2I,
.ac-fontMedium2,.ac-fontMedium2B,.ac-fontMedium2BI,.ac-fontMedium2I,
.ac-fontSmall2,.ac-fontSmall2B,.ac-fontSmall2BI,.ac-fontSmall2I
	{
	font-family: Courier New, Courier, monospace;
	text-shadow: 0px 0px 0px;
}

.ac-fontLarge,.ac-fontLargeB,.ac-fontLargeBI,.ac-fontLargeI,
.ac-fontLarge2,.ac-fontLarge2B,.ac-fontLarge2BI,.ac-fontLarge2I
	{
	font-size: 1.5rem;
}

.ac-fontMedium,.ac-fontMediumB,.ac-fontMediumBI,.ac-fontMediumI,
.ac-fontMedium2,.ac-fontMedium2B,.ac-fontMedium2BI,.ac-fontMedium2I
	{
	font-size: 1.2rem;
}

.ac-fontSmall,.ac-fontSmallB,.ac-fontSmallBI,.ac-fontSmallI,
.ac-fontSmall2,.ac-fontSmall2B,.ac-fontSmall2BI,.ac-fontSmall2I
	{
	font-size: 1.0rem;
}

.ac-fontLarge,.ac-fontMedium,.ac-fontSmall,.ac-fontLarge2,.ac-fontMedium2,.ac-fontSmall2,textarea.ui-input-text
	{
	font-weight: normal;
	font-style: normal;
}

.ac-fontLargeB,.ac-fontMediumB,.ac-fontSmallB,.ac-fontLarge2B,.ac-fontMedium2B,.ac-fontSmall2B
	{
	font-weight: bold;
	font-style: normal;
}

.ac-fontLargeBI,.ac-fontMediumBI,.ac-fontSmallBI,.ac-fontLarge2BI,.ac-fontMedium2BI,.ac-fontSmall2BI
	{
	font-weight: bold;
	font-style: italic;
}

.ac-fontLargeI,.ac-fontMediumI,.ac-fontSmallI,.ac-fontLarge2I,.ac-fontMedium2I,.ac-fontSmall2I
	{
	font-weight: normal;
	font-style: italic;
}

.acLog {
	display: block;
	height: 10rem;
	overflow-y: scroll;
}

.acLogExt {
	display: block;
	border: 1px solid black;
	padding:0.5rem;
	margin: 2rem 0.5rem 0 0.5rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.acErr {
	color:red;
}

.acBtn {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0.3rem;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
}